/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #293241;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 60px 20px;
    text-align: center;
}
#home {
    background-color: #ee6c4d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Make the section cover full height of the screen */
}

.intro-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.text {
    flex: 1;
}

.profile-pic {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-left: 20px;
}

.intro h1 {
    font-size: 3rem;
    margin: 0;
}

.intro p {
    font-size: 1.5rem;
}

/* Styling for images */
.profile-pic {
    width: 10%;
    border-radius: 50%;
    height: auto;
    margin-bottom: 5px;
}

.about-pic {
    width: 300px;
    border-radius: 8px;
    margin-top: 20px;
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

#projects {
    background-color: #98c1d9;
    
}

#contact {
    background-color: #3d5a80;
    color:white;
}

#projects .project-list {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.project {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .project-list {
        flex-direction: column;
        align-items: center;
    }

    .project {
        width: 80%;
        margin-bottom: 20px;
    }
}
